body{
    background-color: #176B87;
    background-repeat: no-repeat;
    background-size:contain;
    margin: 0; 
    padding: 0;
}
header {
    display: absolute;
    justify-content: space-between;
    align-items: center;
}
.logo{
    color: rgb(255, 255, 255);
    display:inline-block;
    font-size: 30px;
    margin-top: 23px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-left: 250px;
    transition: transform 0.5s ease;
}
.logo:hover{
    color: #eca728;
    cursor: pointer;
    transform: scale(1.1);  
}
.responsive{
   margin-top: 130px;
   margin-right:522px;
   margin-left: 450px;
   border: 3px solid #eca728;
   border-radius: 10px;
   box-shadow:
   0 0 60px 30px #eca728,  /* inner white */
   0 0 100px 60px #eecb8a, /* middle magenta */
   0 0 140px 90px #e8b24d; /* outer cyan */
}

.desc{
   margin-left: 240px;
   color: white;
   font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
   font-size: large;
   font-weight: bold;
   padding-top: 20px;

}
.desc1{
    margin-left: 175px;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: small;
    font-weight: bold;
 }
.line{
border-bottom: 5px solid #eca728; 
margin-top: 5px; 
width: 555px;
margin-left: 0px;
}
