.card_container{
    width: 90%;
    border-radius: 15px;  
    background-color: white;
    box-shadow: 0 3px 12px 6px rgba(0, 0, 0, 0.1);
}
h1{
    font-size: 20px;
}
.card1,.card2,.card3{
    font-weight: bold;
    padding: 50px 40px;
    margin: 20px;
    border-radius: 8px;
}