html{
    scroll-behavior: smooth;
}
body{
    background-color: #176B87;
    background-repeat: no-repeat;
    background-size:contain;
    margin: 0; 
    padding: 0; /
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo{
    color: rgb(255, 255, 255);
    display:inline-block;
    font-size: 30px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-left: 250px;
    transition: transform 0.5s ease;
}
ul{
    color: yellow;
    padding-right: 150px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.navbar{
    display: flex;
    justify-content:right;
    margin: 10px; 
    padding-top: 10px;
}
.logo:hover{
    color: #eca728;
    cursor: pointer;
    transform: scale(1.1);  
}
.navbar > li{
    list-style-type: none;
    padding: 15px;
    font-size: 18px;
    margin-right: 50px;
    transition: transform 0.5s ease;
}
nav ul li:last-child {
    margin-right: 0;
}
.navbar > li > a:hover{
    color: #eca728;
}
.navbar > li > a{
    text-decoration: none;
    color: rgb(255, 255, 255);
}
.navbar > li:hover {
    transform: scale(1.1); 
    transition: box-shadow 0.1s ease; 
    box-shadow: 0 0 15px rgba(0, 0, 0, 2);
    border-radius: 30%;
}
p{
    text-align: left;
    color:rgb(249, 244, 244);
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    padding-left: 250px;
    margin-top: 200px;
}
strong{
    font-family: "Archivo Black", sans-serif;
    font-weight: normal;
    font-size: 35px;
    cursor: pointer;
}
span2{
    font-size: 30px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #ffffff;
}
.welcome{
    margin-top: 140px;
}
span{
    font-size: 30px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding-left: 250px;
    color: #ffffff;
}
.line { 
    border-bottom: 5px solid #eca728; 
    margin-top: 5px; 
    width: 380px;
    margin-left: 250px;
} 
h2{
    text-align: left;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 50px;
    color: #ffffff;
    padding-left: 250px;
    margin: 0px;
}
span1{
    color: #eca728  ;
    font-size: 60px;
}
.gradient-text {
    background-image: linear-gradient(
          30deg,
          #ffffff 16.666%, 
          #b6b3b3 16.666%, 
          #867a7a 33.333%, 
          #716761 33.333%, 
          #84644b 50%, 
          #a27236 50%, 
          #eca728 66.666%);
    background-size: 100%;
    background-repeat: repeat;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
animation: rainbow-text-simple-animation-rev 0.5s ease forwards;
  }
  .gradient-text:hover{
      animation: rainbow-text-simple-animation 0.5s ease-in forwards;
  }
@keyframes rainbow-text-simple-animation-rev {
      0% {
          background-size: 650%;
      }
      40% {
          background-size: 650%;
      }
      100% {
          background-size: 100%;
      }
  }
  @keyframes rainbow-text-simple-animation {
      0% {
          background-size: 100%;
      }
      80% {
          background-size: 650%;
      }
      100% {
          background-size: 650%;
      }
  }
::selection{
    color: #eca728;
    background: rgb(0, 0, 0);
}
li1 {
    list-style: none;
    display:inline-block;
    justify-content: space-between;
  }
li1 > a {
    width: inherit;
    height: inherit;
    display: flex;
    text-decoration: none; 
    align-items: center;
    margin-bottom: 120px; 
    padding-left: 55px;
}
.fa:hover {
    color: rgb(241, 241, 241);
    transform: scale(1.5); 
    transition: box-shadow 0.3s ease; 
    box-shadow: 15px black;
}
.fa-facebook {
    color: rgb(254, 254, 254);
}
.fa-instagram {
     color: rgb(255, 255, 255);
}
.fa-twitter {
    color: rgb(246, 246, 246);
}   
.leftside{   
    width: 300px;
    height:60px;
    padding-left: 200px;
    margin-bottom: 120px;
}
.fa-facebook:hover{
    color:blue;
}
.fa-instagram:hover{
    color:rgb(246, 255, 0);
}
.fa-twitter:hover{
    color:rgb(0, 0, 0);
}


/* WORKS CSS */

.background-work{
    background-image: url("acts pics/works backg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    padding: 0;
    width: 100%; 
    height: 880px;
}

h1{
    color: #ffffff;
    font-size: 40px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;;
    margin-left:600px;
    padding-top: 25px;
    width:20%;
    height:50px;
    animation: glow 0.8s ease-in-out infinite alternate;
}

@-webkit-keyframes glow {
  from {
    text-shadow: 0 0 5px #000000, 0 0 10px #004d66, 0 0 15px #004d66, 0 0 20px #004d66, 0 0 25px #004d66, 0 0 30px #004d66, 0 0 35px #004d66;
  }
  
  to {
    text-shadow: 0 0 20px #000000, 0 0 30px #176B87, 0 0 40px #176B87, 0 0 50px #176B87, 0 0 60px #176B87, 0 0 70px #176B87, 0 0 80px #176B87;
  }
}

.tooltip {
    position:absolute;
    top: 205px;
    display: inline-block;
    cursor: pointer;
    right: 160px;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 300px;
    background-color: #ffffff;
    color: #000000;
    text-align: center;
    border-radius: 6px; 
    position: absolute;
    z-index: 1;
    bottom: 80%;
    right: 70%;
    margin-left: -45px;
    opacity: 0;
    transition: opacity 0.5s;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    box-shadow: 3px 3px 20px #000;
    opacity: 1;
}

.responsive:hover {
    transform: scale(1.1); 
    transition: box-shadow 0.3s ease;
    box-shadow: 0 0 40px rgba(1, 1, 1, 0.5); 
    border-radius: 10px;
}
.responsive1:hover {
    transform: scale(1.1); 
    transition: box-shadow 0.3s ease;
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.5); 
    border-radius: 10px;
}

.gallery1 img{
    border-radius: 10px;
    border:3px solid white;
}
.gallery img{
    border-radius: 10px;
    border:3px solid white;
}

.responsive { 
  position: relative;
  margin-left: 135px;
  margin-top: 13px;
  float: left;
 
}
.responsive1 {
    position: absolute;
    left: 595px;
    margin-top: 518px;
}

.responsive{
    list-style: none;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}
.desc{
    color: #ffffff;
    text-align: left;
    padding-left: 120px;
    padding-bottom: 8px;
    padding-top: 5px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
}
.desc1{
    color: #ffffff;
    text-align: left;
    padding-left: 120px;
    padding-bottom: 8px;
    padding-top: 5px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
}


/* CONTACT CSS */

.background-about{
  
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    padding: 0;
    width: 100%; 
    height: 620px;
}

marquee{
    margin-top:10px;
    font-size: 15px;
    width: 1510px;
    height: 30px;
    padding-top: 7px;
    color: #eca728;
    font-weight: bold;
}

.info h5{
    margin: 0;
    padding: 0;
    color: #176B87;
    font-size: 23px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.infocontainer{
    background-color: #ffffff;
    margin-top: 15px;
    width: 510px;
    padding: 20px;
    margin-left: 650px;
    border: 1px solid #000000;
    border-radius: 10px;
    box-shadow: 3px 3px 20px #000;
    font-size: 23px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
span3{
    font-size: 18px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #176B87;
    font-weight:bold;
    padding-left: 50px;
}

.tooltip2 {
    position:absolute;
    top: 1766px;
    display: inline-block;
    cursor: pointer;
    left: 170px;
}

.tooltip2 .tooltiptext {
    visibility: hidden;
    width: 300px;
    background-color: #ffffff;
    color: #000000;
    text-align: center;
    border-radius: 6px; 
    position: absolute;
    z-index: 1;
    bottom: 80%;
    left: 45%;
    margin-left: -45px;
    opacity: 0;
    transition: opacity 0.5s;
}

.tooltip2:hover .tooltiptext {
    visibility: visible;
    box-shadow: 3px 3px 20px #000;
    opacity: 1;
}

.footer{
    background-color: #eca728;
    height: 40px;
    font-size: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    text-align: center;
    padding-top: 10px;
    margin-top: 60px;
}

.button {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: rgb(20, 20, 20);
    border: none;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 0px 0px 4px rgba(180, 160, 255, 0.253);
    cursor: pointer;
    transition-duration: 0.3s;
    overflow: hidden;
    position: relative;
  }
  
  .svgIcon {
    width: 12px;
    transition-duration: 0.3s;
  }
  
  .svgIcon path {
    fill: white;
  }
  .button{
    position: absolute;
    right: 8px;
    top: 2383px;
}
  .button:hover {
    width: 60px;
    border-radius: 50px;
    transition-duration: 0.3s;
    background-color: #eca728;
    border: 1px solid #000000;
    align-items: center;
  }
  
  .button:hover .svgIcon {
    transition-duration: 0.3s;
    transform: translateY(-200%);
  }
  
  .button::before {
    position: absolute;
    bottom: -10px;
    content: "Back to Top";
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
    font-size: 0px;
    text-align: center;
  }
  
  .button:hover::before {
    font-size: 13px;
    opacity: 1;
    bottom: unset;
    transition-duration: 0.3s;
    text-align: center;
  }


.book {
    position: relative;
    border-radius: 10px;
    margin-left: 650px;
    margin-top: 50px;
    width: 550px;
    height: 350px;
    background-color: rgb(255, 255, 255);
    -webkit-box-shadow: 3px 3px 20px #000;
    -webkit-transform: preserve-3d;
    -ms-transform: preserve-3d;
    transform: preserve-3d;
    -webkit-perspective: 2000px;
    perspective: 2000px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: left;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: left;
    color: #fefdfd;
  }
  
  .cover {
    position: absolute;
    background-color: rgb(255, 255, 255);
    width: 550px;
    height: 350px;
    border-radius: 10px;
    border: 1px solid black;
    cursor: pointer;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
    -webkit-transform-origin: 0;
    -ms-transform-origin: 0;
    transform-origin: 0;
    -webkit-box-shadow: 3px 3px 20px #000;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: left;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: left;
  }
  
  .book:hover .cover {
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
    -webkit-transform: rotatey(-80deg);
    -ms-transform: rotatey(-80deg);
    transform: rotatey(-80deg);
  }
  
  .book p7{
    font-size: 20px;
    font-weight:normal;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #000;
    padding-top: 40px;
    padding-left: 40px;
}
 
.cover p6{
    font-size: 50px;
    font-weight:bold;
    color: #ffffff;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-left: 160px;
    margin-top: 130px;
    text-align: center;
    animation: glow 0.8s ease-in-out infinite alternate;
  }
  
  @-webkit-keyframes glow {
    from {
      text-shadow: 0 0 5px #000000, 0 0 10px #004d66, 0 0 15px #004d66, 0 0 20px #004d66, 0 0 25px #004d66, 0 0 30px #004d66, 0 0 35px #004d66;
    }
    
    to {
      text-shadow: 0 0 20px #000000, 0 0 30px #176B87, 0 0 40px #176B87, 0 0 50px #176B87, 0 0 60px #176B87, 0 0 70px #176B87, 0 0 80px #176B87;
    }
  }

  